<h1>Eat Da Burger!</h1>


<ul>
  {{#each burgers}}
    {{#unless devoured}}
        <h3> {{id}}. {{burger_name}} </h3>
        <button class="devour" data-id="{{id}}">
		    Devour!
	    </button>
    {{/unless}}
  {{/each}}
</ul>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      <p>{{id}}. {{burger_name}}</p>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="add-burger-form">
  <div class="add-burger">
    <input type="text" id="burger-name" name="name">
  </div>
  <button type="submit" id="submit">Submit</button>
</form>

<h2>Enter a burger you would like to eat then hit "submit" button.</h2>